{% extends 'base.html' %}

{% block content %}
<form action="{% url 'movie:update' review.id %}">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">제목</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="{{ review.title }}" />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">내용</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
      name="content">{{ review.content }}</textarea>
  </div>
  <div class="d-grid">
    <input type="submit" class="btn btn-outline-primary" value="리뷰 수정" id="bt" />
  </div>
</form>
{% endblock %}