{% extends 'base.html' %} {% block content %}

<div class="m-4 d-flex flex-column align-items-center">
  <h1 class="m-4">영화 리뷰 커뮤니티</h1>
  <div class="d-flex justify-content-end m-3 w-100">
    <a class="btn btn-dark" href="new/">리뷰 작성</a>
  </div>
  <table class="table text-center bg-light">
    <thead>
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">작성시간</th>
        <th scope="col">수정시간</th>
        <th scope="col">수정</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for review in reviews %}
      <tr>
        <td>{{ review.id }}</td>
        <td>
          <a href="{% url 'movie:detail' review.id  %}">{{ review.title }}</a>
        </td>
        <td>{{ review.create_at|date:'Y년 m월 d일 P' }}</td>
        <td>{{ review.update_at|date:'Y년 m월 d일 P' }}</td>
        <td>
          <a
            class="btn btn-dark btn-sm"
            href="{% url 'movie:edit' review.id %}"
            data-bs-toggle="modal"
            data-bs-target="#modal{{ review.id }}"
            data-bs-whatever="@mdo"
            ><i class="bi bi-pencil-fill"></i
          ></a>
        </td>
        <div
          class="modal fade"
          id="modal{{ review.id }}"
          tabindex="-1"
          aria-labelledby="modal{{ review.id }}Label"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">리뷰 수정</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'movie:update' review.id %}">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"
                      >제목</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput1"
                      name="title"
                      value="{{ review.title }}"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >내용</label
                    >
                    <textarea
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      name="content"
                    >
{{ review.content }}</textarea
                    >
                  </div>
                  <div class="d-grid">
                    <input
                      type="submit"
                      class="btn btn-dark"
                      value="리뷰 수정"
                      id="bt"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <td>
          <a
            class="btn btn-dark btn-sm"
            href="{% url 'movie:delete' review.id %}"
            ><i class="bi bi-x-square-fill"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
